.ContactPage {
  background-color: var(--midnight-green);
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  padding: 0 6% 6rem;

  /* illustrations */
  background-image: url("../../assets/bg-pattern-contact-2.svg");
  background-position: bottom -6.25rem right -7rem;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .ContactPage {
    gap: 4rem;
    padding: 0 8rem 7rem;
    background-image: url("../../assets/bg-pattern-about-2-contact-1.svg"),
      url("../../assets/bg-pattern-contact-2.svg");
    background-position: top left -6.5rem, bottom right -7rem;
  }
}

@media (min-width: 960px) {
  .ContactPage {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10.25rem 7.5rem;
  }
}
