.container {
  background: var(--midnight-green);
  color: var(--primary-white);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 108px;
  background-image: url("../../../assets/bg-pattern-about-1-mobile-nav-1.svg");
  background-position: bottom -100px right -100px;
  background-repeat: no-repeat;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding-top: 80px;
    padding-bottom: 112px;
    background-position-y: bottom;
  }

  .body {
    gap: 24px;
  }

  .aboutus {
    width: 59vw;
  }
}

@media (min-width: 960px) {
  .container {
    padding-top: 60px;
    padding-bottom: 112px;
  }

  .body {
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
  }

  .headline {
    align-self: flex-start;
    margin-top: 40px;
  }

  .bar {
    width: 50px;
    height: 4px;
    background: var(--coral-color);
    margin-block: 40px;
  }

  .aboutus {
    text-align: left;
    align-items: center;
    width: 50vw;
  }
}
