.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header {
  color: var(--primary-white);
}

.title {
  color: var(--coral-color);
}

.container ul {
  width: 100%;
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.container ul li {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6%;
  text-align: left;
}

.container ul li>img{
  max-width: 72px;
}
@media (min-width: 768px) {
  .container,
  .header{
    gap: 1.5rem;
  }
}

@media (min-width: 960px) {
  .container{
    width: 100%;
    align-items: start;
    justify-content: end;
    gap: 2rem;
  }

  .headings {
    align-items: start;
  }
  .container ul{
    gap: 0.5rem;
  }

  .container ul li {
    gap: 1.5rem;
  }
}
