.card {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarContainer,
.quoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15.813rem;
  background: var(--dark-theme-background);
}

.avatarContainer {
  padding: 12.648% 6.8571%;
}

.quoteContainer {
  padding: 13.834% 6.8571%;
}

.avatar {
  width: 96px;
  height: 96px;
  outline: 2px solid var(--very-pale-cyan);
  outline-offset: -2px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.name {
  color: var(--rapture-blue);
  width: 100%;
  text-align: center;
}

.title {
  color: var(--primary-white);
  font-style: italic;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.quote {
  margin: 2% 0 7% 0;
  padding: 0 6.8571%;
  text-align: center;
  color: var(--primary-white);
  font-weight: 600;
}

.mainButton {
  position: absolute;
  bottom: -28px;
  width: 56px;
  height: 56px;
  -webkit-tap-highlight-color: transparent;
}

.card .mainButton {
  padding: 18px;
  border-style: none;
  border-radius: 50%;
}

.hideButton,
.showButton:hover:enabled {
  background: var(--rapture-blue);
}

.showButton,
.hideButton:hover:enabled {
  background: var(--coral-color);
}

.closeIcon path {
  fill: var(--dark-theme-background);
}

.twitterIcon {
  margin-right: 1rem;
}

.twitterIcon:hover path,
.linkedinIcon:hover path {
  fill: var(--coral-color);
}

@media (min-width: 768px) {
  .quoteContainer {
    padding-left: 1.438rem;
    padding-right: 1.438rem;
  }

  .quote {
    padding: 0;
  }
}

@media (min-width: 960px) {
  .quote {
    padding: 0 6.8571%;
  }
}
