.buttonContainer {
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttonContainerColor {
  background-color: var(--dark-theme-background);
}
.buttonContainerAlternateColor {
  background-color: white;
}

.appHeader {
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.appLink {
  color: #61dafb;
}

.buttonMargin {
  margin-block: 1rem;
}
