.buttonContainer {
  height: 120px;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttonContainerColor {
  background-color: #012f34;
}
.buttonContainerAlternateColor {
  background-color: white;
}

.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appLink {
  color: #61dafb;
}
