.button {
  padding: 10px 20px;
  border: 2px solid var(--button-border-color);
  border-radius: 24px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background-color: transparent;
  color: var(--button-color);
}

.button:hover:enabled {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-color);
}

.disabled {
  color: var(--primary-disabled-color);
  border-color: var(--primary-disabled-border-color);
  cursor: not-allowed;
}

/* Secondary Button */
.buttonSecondary {
  background-color: var(--primary-white-color);
  color: var(--secondary-disabled-font-color);
}

.buttonSecondaryHover:hover {
  background-color: var(--secondary-hover-color);
}

.buttonSecondaryDisabled:disabled {
  background-color: var(--secondary-disabled-color);
}

/* Tertiary Button */
.buttonTertiary {
  background-color: var(--primary-white-color);
  color: var(--dark-theme-background);
  border: 2px solid var(--dark-theme-background);
}

.buttonTertiaryHover:hover {
  background-color: var(--dark-theme-background);
  color: var(--primary-white-color);
}

.buttonTertiaryDisabled:disabled {
  color: var(--tertiary-disabled-color);
  border: 2px solid var(--tertiary-disabled-border-color);
}
