* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.content {
  flex: 1;
}

.content > section > div,
.content > section > article {
  padding-inline: 24px;
}

/* Tablet */
@media (min-width: 768px) {
  .content > section > div,
  .content > section > article {
    padding-inline: 97px;
  }
}

/* Desktop */
@media (min-width: 960px) {
  .content > section > div,
  .content > section > article {
    padding-inline: 11.458333%;
  }
}
