.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.content {
  flex: 1;
  /* prevent content being unreachable behind fixed-position header */
  padding-top: 40px; /* height of header; */
  /* END header fix */
}
