* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  background-color: var(--deep-jungle-blue);
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 1;
}

.topImage {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: -100px;
}

.bottomImage {
  width: 147px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.article {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

.title {
  color: var(--primary-white);
  text-align: center;
}

.profiles {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 1.5rem;
}

@media (min-width: 768px) {
  .topImage {
    top: 0;
  }

  .article {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }

  .profiles {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0.688rem;
    row-gap: 3rem;
  }
}

@media (min-width: 960px) {
  .article {
    margin-top: 8.75rem;
    margin-bottom: 8.75rem;
  }

  .profiles {
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.875rem;
    row-gap: 3rem;
  }
}