* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 13.813rem;
  width: 18.875rem;
  background: var(--dark-theme-background);
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border-color: #C4FFFE;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 1rem;
}

.name {
  color: var(--rapture-blue);
  width: 100%;
  text-align: center;
}

.title {
  color: var(--primary-white);
  font-style: italic;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.quote {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  color: var(--primary-white);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.showButton, 
.hideButton {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translate(-50%);
  padding: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border-style: none;
}

.hideButton, 
.showButton:hover:enabled {
  background: var(--rapture-blue);
}

.showButton, 
.hideButton:hover:enabled {
  background: var(--coral-color);
}

.closeIcon path {
  fill: var(--dark-theme-background);
}

.twitterIcon {
  margin-right: 1rem;
}

.twitterIcon:hover path,
.linkedinIcon:hover path  {
  fill: var(--coral-color);
}