* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.card {
  height: 17.563rem;
  width: 20.438rem;
}

.avatarContainer, 
.quoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 15.813rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: var(--dark-theme-background);
}

.avatarContainer {
  padding-top: 2rem;
}

.quoteContainer {
  padding-top: 2.188rem;
}

.avatar {
  width: 96px;
  height: 96px;
  outline: 2px solid var(--very-pale-cyan);
  outline-offset: -2px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.name {
  color: var(--rapture-blue);
  width: 100%;
  text-align: center;
}

.title {
  color: var(--primary-white);
  font-style: italic;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.quote {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1.386rem;
  padding-right: 1.386rem;
  text-align: center;
  color: var(--primary-white);
  font-weight: 600;
}

.showButton, 
.hideButton {
  position: absolute;
  bottom: -28px;
  padding: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border-style: none;
}

.hideButton, 
.showButton:hover:enabled {
  background: var(--rapture-blue);
}

.showButton, 
.hideButton:hover:enabled {
  background: var(--coral-color);
}

.closeIcon path {
  fill: var(--dark-theme-background);
}

.twitterIcon {
  margin-right: 1rem;
}

.twitterIcon:hover path,
.linkedinIcon:hover path  {
  fill: var(--coral-color);
}

@media (min-width: 768px) {
  .card {
    width: 17.563rem;
  }

  .quoteContainer {
    padding-left: 1.438rem;
    padding-right: 1.438rem;
  }

  .quote {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 960px) {
  .card {
    width: 21.875rem;
  }

  .quote {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}