* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--deep-jungle-blue);
  display: flex;
  position: relative;
  justify-content: center;
  overflow-y: hidden;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
}

.container::before {
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  background-image: url("../../../assets/bg-pattern-about-2-contact-1.svg");
}

.container::after {
  width: 147px;
  height: 100px;
  bottom: 0px;
  right: 0px;
  background-image: url("../../../assets/bg-pattern-home-4-about-3.svg");
}

.article {
  max-width: 94vw;
  margin: 5.5rem auto;
}

.title {
  color: var(--primary-white);
  text-align: center;
}

.profiles {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  row-gap: 1.5rem;
  column-gap: 0.688rem;
}

@media (min-width: 768px) {
  .container::before {
    transform: translate(-50%, 0%);
  }

  .topImage {
    top: 0;
  }

  .article {
    margin: 6.25rem auto;
  }

  .profiles {
    row-gap: 3rem;
  }
}

@media (min-width: 960px) {
  .article {
    margin: 8.75rem auto;
  }

  .profiles {
    margin-top: 4rem;
    column-gap: 1.875rem;
  }
}
