/* whole section */
.container {
  background-color: var(--deep-jungle-blue);
  color: var(--primary-white);
  position: relative;
  background-image: url("../../../assets/bg-pattern-home-4-about-3.svg"),
    url("../../../assets/bg-pattern-home-5.svg");
  background-position: top left,
    bottom right;
  background-repeat: no-repeat;
}

/*wrapper*/
.wrapper {
  box-sizing: border-box;
  padding-block: 140px;
  margin: 0 auto;
  width: 100%;
}

/* contents */
.contents {
  display: flex;
  gap: 48px;
  flex-direction: column;
  text-align: center;
}

/* content */
.quote {
  width: 100%;
  padding-top: 36px;
  background: transparent url("../../../assets/icon-quotes.svg") no-repeat center top / 67px 56px;
}

/* image */
.image {
  width: 66px;
  height: 66px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--rapture-blue);
  overflow: hidden;
}

.image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* typography*/
.heading {
  text-align: center;
  margin-bottom: 48px;
}

.heading span {
  color: var(--rapture-blue);
  font-weight: 800;
}

.name {
  color: var(--rapture-blue);
  margin: 16px 0 2px 0;
}

.caption {
  padding-bottom: 14px;
}

/* media queries */
@media (min-width: 768px) {
  .wrapper {
    padding-block: 100px;
  }
}

@media (min-width: 960px) {
  .wrapper {
    padding-block: 140px;
  }

  .contents {
    flex-direction: row;
    gap: 30px;
  }

  .quote {
    width: calc(100% / 3);
  }

  .heading {
    padding: 0 89px;
    margin-bottom: 56px;
  }

  .name {
    margin-top: 24px;
  }

  .caption {
    padding-bottom: 30px;
  }
}
