.container {
  background-color: var(--deep-jungle-blue);
  display: flex;
  position: relative;
  justify-content: center;
  overflow-y: hidden;
  background-image: url("../../../assets/bg-pattern-about-2-contact-1.svg"),
    url("../../../assets/bg-pattern-home-4-about-3.svg");
  background-position: top -100px left -100px,
    bottom right;
  background-repeat: no-repeat;
}

.article {
  width: 100%;
  margin: 5.5rem auto;
}

.title {
  color: var(--primary-white);
  text-align: center;
}

.profiles {
  max-width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.5rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .container {
    background-position: top left -100px,
      bottom right;
  }

  .topImage {
    top: 0;
  }

  .article {
    margin: 6.25rem auto;
  }

  .profiles {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 0.688rem;
  }
}

@media (min-width: 960px) {
  .article {
    margin: 8.75rem 0;
  }

  .profiles {
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.0833%;
  }
}
