body{
    background-color: var(--midnight-green);
}

.ContactForm{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.ContactFormInputs{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}