.header {
  width: 100%;
  background-color: var(--dark-theme-background);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.logo {
  width: 160px;
}
nav {
  width: 1000px;
  max-width: 750px;
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  color: var(--primary-white);
  padding-right: 30px;
}

.btn {
  background: transparent;
  color: var(--primary-white);
  padding: 10px 25px;
  padding-block: 12px;
  padding-inline: 25px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 30px;
  cursor: pointer;
}

.icon_close {
  display: none;
}

/* -----------------Media Query------------------- */
@media (max-width: 1240px) {
  nav {
    margin-right: 30px;
  }
}
@media (max-width: 1196px) {
  nav {
    margin-left: 30px;
  }
}
@media (max-width: 870px) {
  nav {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
  .logo {
    width: 130px;
  }
  .btn {
    padding: 10px 25px;
    font-size: 16px;
    border: 1.5px solid #fff;
  }
  nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--police-blue);
    z-index: 1;
    width: 350px;
    max-width: 320px;
    padding-top: 70px;
    transition: 0.5s;
  }
  nav ul {
    /* width: 100%; */
    flex-direction: column;
    padding: 30px 40px;
  }
  nav ul li {
    padding: 25px;
    margin-left: 15px;
  }
  .btn {
    align-self: center;
  }
  .icon_close {
    display: block;
    width: 30px;
    margin: 15px;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    left: 200px;
  }
  .hide-mobile-menu {
    right: -350px;
  }
}
