.header {
  width: 100%;
  background-color: var(--dark-theme-background);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header-logo {
  width: 100px;
}
.headerNav {
  width: 1000px;
  max-width: 750px;
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileHeaderNav {
  display: none;
}

.standardHeaderNav {
  display: flex;
}

.standardNavList {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.nav-list-item {
  list-style: none;
  color: var(--primary-white);
}
.nav-list-item:last-child {
  margin-left: auto;
}

.nav-list-item:last-child {
  margin-left: auto;
}

.nav-link {
  color: var(--primary-white);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--coral-color);
}
.btn {
  background: transparent;
  color: var(--primary-white);
  padding: 10px 25px;
  padding-block: 12px;
  padding-inline: 25px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 30px;
  cursor: pointer;
}

.icon_hamburger {
  display: none;
}

/* -----------------Media Query------------------- */
@media (max-width: 1240px) {
  .headerNav {
    margin-right: 30px;
  }
}
@media (max-width: 1196px) {
  .headerNav {
    margin-left: 30px;
  }
}
@media (max-width: 870px) {
  .headerNav {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
  .logo {
    width: 130px;
  }
  .btn {
    padding: 10px 25px;
    font-size: 16px;
    border: 1.5px solid #fff;
  }
  .headerNav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -32px;
    bottom: 0;
    background: var(--police-blue);
    background-image: url(../../assets/bg-pattern-about-1-mobile-nav-1.svg);
    background-repeat: no-repeat;
    background-position: bottom left 170%;
    background-size: 60%;
    z-index: 1;
    width: 350px;
    max-width: 320px;
    padding-top: 70px;
    transition: 0.5s;
  }

  .standardNavList {
    display: none;
  }

  .standardHeaderNav {
    display: none;
  }

  .mobileNavList {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 30px 40px;
  }

  .nav-list-item {
    padding: 25px;
    margin-left: 15px;
  }
  .btn {
    align-self: center;
  }
  .icon_close {
    display: block;
    width: 30px;
    margin: 15px;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    left: 150px;
  }

  .icon_hamburger {
    display: block;
  }

  .mobileHeaderNav {
    display: flex;
  }

  .hideMobileMenu {
    right: -350px;
  }
}
