@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,600;1,700&display=swap');

body {
  /* font fallback stack from React defaults */
  font-family: "Livvic", -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-weight: 600; /* semi-bold */
}

h1, h2, h3 {
  font-weight: 700; /* bold */
}

h1, h1.h1-large {
  font-size: 64px;
  line-height: 56px;
}

h2 {
  font-size: 48px;
  line-height: 48px;
}

h3 {
  font-size: 18px;
  line-height: 28px;
}

.body-1 {
  font-size: 18px;
  line-height: 28px;
}

.body-2 {
  font-size: 15px;
  line-height: 25px;
}

@media (width >= 960px) {
  h1.h1-large {
    font-size: 100px;
    line-height: 100px;
  }
}

@media (width < 768px) {
  h1, h1.h1-large {
    font-size: 40px;
    line-height: 40px;
  }
}
