.footer {
    max-width: 100%;
    background-color: var(--tertiary-color);
    color: var(--primary-white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 68px;
    padding-inline: 24px;
    box-sizing: border-box;
  }
  
  .footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footerLinks {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    transition: all 3ms ease-in;
    /* margin-block: 5px; */
  }
  
  .footerLinks .link:hover {
    color: #f67e7e;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
    margin: 5px 0;
  }
  
  .location {
    color: #ffff;
    opacity: 0.6;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .socialContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .socialLinks {
    display: flex;
    gap: 1rem;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .socialLinks img:hover {
    filter: brightness(0) saturate(100%) invert(53%) sepia(42%) saturate(4100%)
      hue-rotate(323deg) brightness(100%) contrast(98%);
  }
  
  .copyright {
    opacity: 0.6;
    align-items: center;
    text-align: center;
  }
  
  /* Medium devices (tablets, 768px and up) */
   @media  (min-width: 768px)  {
  
        .footer {
          padding-inline: 40px;
        }
        .footerInfo {
          flex-direction: row;
          justify-content: space-between;
          width: 98%;
        }
        .socialContent {
          flex-direction: column;
          justify-content: space-between;
        }
        .footerLinks {
          justify-content: flex-start;
        }
      
        .location {
          position: absolute;
          right: 60px;
          text-align: end;
        }

        .socialLinks img:hover {
            filter: brightness(0) saturate(100%) invert(53%) sepia(42%) saturate(4100%)
              hue-rotate(323deg) brightness(100%) contrast(98%);
          }
      
        .socialLinks {
          position: absolute;
           left: 50px;
           bottom: 0;
        }
      
        .copyright {
          position: absolute;
          bottom: 0;
          right: 55px;
          text-align: justify;
      
        }
  } 
  
  
  @media (min-width: 960px) {
      .footer {
          padding-inline: 40px;
        }
        .footerInfo {
          flex-direction: row;
          justify-content: space-between;
          width: 98%;
        }
  
        .socialContent {
          flex-direction: column;
          justify-content: space-between;
        }
        .footerLinks {
          justify-content: flex-start;
        }

        .socialLinks img:hover {
            filter: brightness(0) saturate(100%) invert(53%) sepia(42%) saturate(4100%)
              hue-rotate(323deg) brightness(100%) contrast(98%);
          }

        .socialLinks {
            position: relative;
            
          }
      
        .location {
          text-align: justify;
          position: relative;
        }

        .copyright {
            position: relative;
          
        
          }
       
    }
  
  

