


.footerContent {
    background-color: #012F34;
    position: relative;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  

  
  
  .footerInfo {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
  }
  
  .logoDesc {
    display: flex;
    flex-direction: column;
  }
  
  .footerLinks {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    margin-top: 0.9rem;
    /* flex-direction: column; */
  }
  
  .link {
    color: #FFFFFF;
    text-decoration: none;
    margin: 5px 0;
  }
  
  .location {
    color: #979797;
    font-size: 1rem;
  }
  
  .socialContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .socialLinks {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    
  }

  .socialLinks:hover {
    color: #012F34;
    background-color: aqua;
  }


  
  .copyright {
    color: #979797;
    /* color: inherit; */
    font-size: 0.9rem;
    margin-top: 2.5rem;
    align-items: center;
  }
  
 
  
 

  @media (max-width: 768px) {
    .footerContent {
        padding: 70px ;
    }
    
    .footerInfo {
      flex-direction: row;
      align-items: center;
      text-align: left;
      position: relative;
    }
  
    .footerLinks {
      flex-direction: row;
    }

    .socialLinks {
        position: absolute;
        left: 24px;
        bottom: -40px;
        
    }

    .location {
        position: absolute;
        right: -30px;
        bottom: -30px;
        text-align: end;
        
    }


    .copyright {
        position: absolute;
        bottom: -65px;
        right: -30px;


    }
  
    .socialContent {
      align-items: flex-end;

    }
  
    .themeToggleContainer {
      top: 5px;
      right: -10px;
    }
  
    .themeToggleText {
      margin-left: 10px;
    }
  }
  
  @media (min-width: 960px) {
    .footerInfo {
      flex-direction: row;
      align-items: center;
      text-align: left;
    }
  
    .footerLinks {
      flex-direction: row;
    }


  
    .socialContent {
      align-items: flex-end;
    }
  
    .themeToggleContainer {
      top: 20px;
      right: 20px;
    }
  
    .themeToggleText {
      margin-left: 10px;
    }

    
  }





 
  