h1,
h2,
h3 {
  font-weight: 700; /* bold */
}

.h1Large,
.h1Small {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.h2 {
  font-size: 2rem;
  line-height: 2rem;
}

.h3,
.body1 {
  font-size: 0.9rem;
  line-height: 1.75rem;
}

.body2 {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.error::placeholder {
  color: var(--error-color);
  opacity: 0.6;
}

.error {
  font-style: italic;
  font-weight: 700;
  font-size: 0.62rem;
  line-height: 0.81rem;
  color: var(--error-color);
  text-align: left;
}

@media (min-width: 768px) {
  .h1Large,
  .h1Small {
    font-size: 4rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 960px) {
  .h1Large {
    font-size: 6.25rem;
    line-height: 6.25rem;
  }

  .h1Small {
    font-size: 4rem;
    line-height: 6.25rem;
  }

  .h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .h3,
  .body1 {
    font-size: 1.12rem;
  }
}
