.formElement{
  width: 100%;
}

input,
textarea {
  --input-color: var(--primary-white);
  border: none;
  border-bottom: 1px solid var(--input-color);
  color: var(--primary-white);
  background: transparent;
  padding-left: 14px;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  width: 100%;
}

.input {
  height: 42px;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.6;
  color: var(--input-color);
}

textarea {
  height: 84px;
  resize: none;
}

input:focus,
textarea:focus {
  --input-color: var(--rapture-blue);
  opacity: 1;
  cursor: pointer;
}

input.error,
textarea.error {
  --input-color: var(--coral-color);
}

.errorMessage {
  margin: 6px 8px;
}
