.ReadyToStart {
  background-color: var(--coral-color);
  background-image: url("../../assets/bg-pattern-home-6-about-5.svg");
  background-position-x: left;
  background-position-y: calc(100% + 22px);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  align-content: center;
  margin-block: 85px;
}

.text {
  color: var(--dark-theme-background);
  max-width: 75%;
  margin-inline: 2em;
  text-align: center;
}

@media (min-width: 768px) {
  .mainContent {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 920px;
    margin-inline: 6em;
    margin-block: 71px;
  }

  .text {
    margin-inline: 0;
    margin-bottom: 0.5rem;
  }
}