@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,600;1,700&display=swap");

* {
  /* font fallback stack from React defaults */
  font-family: "Livvic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 600; /* semi-bold */
}

html {
  font-size: 16px; /* base font size */
}

:root {
  --primary-white: #ffffff;
  --dark-green: #002529;
  --primary-disabled-color: #666666;
  --primary-disabled-border: #cccccc;
  --rapture-blue: #79c8c7;
  --secondary-disabled-color: #374041;
  --coral-color: #f67e7e;
  --dark-theme-background: #012f34;
  --midnight-green: #014e56;
  --police-blue: #2c6269;
  --deep-jungle-blue: #004047;
}