@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,600;1,700&display=swap");

:root {
  --error-color: #f67e7e;
  --success-color: #79c8c7;
  --primary-white-color: #fff;
  --primary-hover-color: #002529;
  --primary-disabled-color: #666666;
  --primary-disabled-border-color: #cccccc;
  --secondary-hover-color: #79c8c7;
  --secondary-disabled-color: #374041;
  --tertiary-color: #012f34;
  --tertiary-disabled-color: #666666;
  --tertiary-disabled-border-color: #a0a0a0;
}

* {
  /* font fallback stack from React defaults */
  font-family: "Livvic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 600; /* semi-bold */
}
